.list {
    list-style: decimal;
    text-align: left;
    margin-top: 20px;
    color: #9b9faa;
    margin-left: 18px;
}

.item {
    margin-bottom: 15px;
}

@media screen and (min-width: 1280px) {
    .list {
        width: 300px;
    }
}
