.backdrop {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 110;
}

.team__container {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;

    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .backdrop {
        background-color: rgba(53, 53, 53, 0.212);
        backdrop-filter: blur(5px);
    }
    .team__title {
        font-family: 'Roboto';
        text-align: center;
        font-size: 20px;
        font-weight: 900;
        color: #ff751d;
    }

    .team__container {
        position: absolute;
        overflow-y: scroll;
        z-index: 500;
        padding: 40px 40px;
        width: 100vw;
        height: 100vh;
        background-size: 100%;
        background-repeat: repeat;
    }

    .card__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 10px 40px 10px;
        max-width: 280px;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;

        background-color: rgba(255, 255, 255, 0.884);

        margin-bottom: 20px;
        border-radius: 16px;
        box-shadow: 3px 7px 22px -7px rgba(0, 0, 0, 0.45);
    }
    .card {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }

    .img {
        border-radius: 16px;
        display: block;
        height: 260px;
    }
    /* -------------------- */
    img.img {
        max-height: 250px;
    }
    /* ------------------- */
    .cardImage {
        display: block;
        width: 50%;
        border-radius: 16px;
        background-size: 50%;
    }
    .title__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .member__title {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 10px;
        text-align: center;
    }
    .role__text {
        font-size: 20px;
        margin: 0;
    }
    .social__list {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .close__icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        right: 10px;
        fill: white;
    }
    .github {
        width: 50px;
        height: 50px;
    }
    .linkin {
        width: 50px;
        height: 50px;
    }
}

/* //////////////////////// */

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .backdrop {
        background-color: rgba(53, 53, 53, 0.212);
        backdrop-filter: blur(5px);
    }
    .team__title {
        position: absolute;
        top: 47%;
        right: 45%;
        text-align: center;

        font-size: 30px;
        font-weight: 900;
        color: #ff751d;
    }
    .close__icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 2%;
        right: 1%;
    }

    .team__container {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;

        width: 100vw;
        height: 100vh;
        transform: translate(-50%, -50%);
        padding: 40px 40px;

        gap: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        flex-wrap: wrap;
        background-size: 100%;
        background-repeat: repeat;
        background-image: url('../../images/GreenLaptop.png');
    }

    .card__wrapper {
        margin: 0;
        padding: 10px 10px 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.884);
        max-width: 280px;
        border-radius: 16px;
        box-shadow: 3px 7px 22px -7px rgba(0, 0, 0, 0.45);
    }
    .card {
        margin-bottom: 10px;
    }
    .img {
        border-radius: 16px;
        display: block;
        height: 260px;
    }
    .title__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .member__title {
        font-weight: bold;
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .role__text {
        font-size: 10px;
        margin: 0;
    }
    .social__list {
        margin-top: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }
    .list__item {
        margin-right: 5px;
    }
    .github {
        width: 20px;
        height: 20px;
    }
    .linkin {
        width: 20px;
        height: 20px;
    }
    .github:hover {
        transform: scale(1);
        animation: pulse-black 3s infinite;
    }
    .linkin:hover {
        transform: scale(1);
        animation: pulse-black 3s infinite;
    }
}

/* ///////////////////// */

@media (min-width: 1280px) {
    .backdrop {
        background-color: rgba(53, 53, 53, 0.212);
        backdrop-filter: blur(5px);
    }
    .team__title {
        position: absolute;
        top: 40%;
        right: 50%;
        text-align: center;
        transform: translateX(50%);
        font-size: 50px;
        font-weight: 900;
        color: #ff751d;
    }

    .team__container {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 30px;
        overflow: scroll;
        padding: 40px;

        background-image: url('../../images/GreenLaptop.png');
    }
    .card__wrapper {
        padding: 10px 10px 40px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.884);

        max-width: 280px;
        border-radius: 16px;
        box-shadow: 3px 7px 22px -7px rgba(0, 0, 0, 0.45);
        
        cursor: pointer;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .card__wrapper:hover {
        transform: scale(1.10);
        animation: pulse-black2 5s infinite,
        transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .card {
        margin-bottom: 10px;
        border-radius: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /* ----------------------- */
    .img {
        border-radius: 16px;
        display: block;
        width: 100%;
        height: 260px;
    }
    /* ---------------------- */
    .title__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .member__title {
        font-weight: bold;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 5px;
    }
    .role__text {
        font-size: 15px;
        margin: 0;
    }
    .social__list {
        margin-top: 10px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .list__item {
        margin-right: 5px;
    }

    .github {
        width: 30px;
        height: 30px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .github:hover {
        transform: scale(1);
        animation: pulse-black 3s infinite;
    }
    .linkin:hover {
        transform: scale(1);
        animation: pulse-black 3s infinite;
    }
    .linkin {
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 30px;
        height: 30px;
    }
}

/* animation */

.github:hover {
    transform: scale(1.2);
}
.linkin:hover {
    transform: scale(1.2);
}

.close__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 8px;
    right: 8px;

    filter: hue-rotate(35deg) brightness(1.3) saturate(0.8);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close__icon:hover {
    transform: rotate(180deg);
    cursor: pointer;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    border-radius: 50%;
    box-shadow: 0 0 0 0 #ff751d;
  }
  50% {
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes pulse-black2 {
  0% {
    /* transform: scale(0.95); */
    border-radius: 16px;
    box-shadow: 0 0 0 0 #ff751d;
  }
  50% {
    /* transform: scale(1); */
    border-radius: 16px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    /* transform: scale(0.95); */
    border-radius: 16px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/* @-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
} */
