.list {
    width: 630px;
    max-height: 280px;
    overflow-y: scroll;
}

.product {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    color: #212121;
}

.title {
    width: 240px;
    margin-right: 48px;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.info {
    width: 107px;
    margin-right: 32px;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
}

.icon {
    cursor: pointer;
}
