.button {
    /* min-width: 176px; */
    width: 176px;
    margin: 0 auto;
    border: none;
    padding: 13px;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
}

.primary {
    color: var(--bg-color);
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.primary:hover {
    color: var(--accent-color);
    background-color: var(--bg-color);
}

.primary:disabled {
    background-color: rgba(252, 132, 45, 0.5);
    cursor: auto;
}

.primary:disabled:hover {
    transform: scale(1);
    transition: all 250ms linear;
}

.secondary {
    color: var(--accent-color);
    background-color: var(--bg-color);
    border: 2px solid var(--accent-color);
    width: 290px;
    margin: auto;
}

.small {
    min-width: 1px;
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .smallFromTablet {
        min-width: 1px;
        width: 50px;
        height: 50px;
    }
}
