.button {
    width: 182px;
    display: block;
    margin: 60px auto 0;
    padding: 13px;
    font-weight: 700;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    background-color: var(--bg-color);
    color: var(--accent-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.button:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: 2px solid var(--accent-color);
    transition: var(--transition);
}

.width,
.modal {
    composes: button;
    width: 210px;
}

.width {
    margin: 40px auto;
}

@media screen and (min-width: 768px) {
    .width {
        margin-left: 0;
    }
}

@media screen and (min-width: 1280px) {
    .width {
        margin-left: 323px;
    }
}
