.container {
    width: 763px;
}

.title {
    width: 280px;
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
}

.form {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.input {
    width: 240px;
    margin-right: 32px;
    padding: 24px 0 8px 0;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid var(--line-color);
}

.input::placeholder {
    color: var(--muted-color);
    opacity: 1;
}

.legend {
    margin-top: 20px;
    font-weight: 700;
    color: var(--muted-color);
}

.group {
    border: none;
    padding: 0;
    margin: 8px 0;
}

.btns {
    display: flex;
    gap: 34px;
}

.btn {
    width: 210px;
    margin: 40px auto;
    border: none;
    padding: 13px;
    font-weight: 700;
    letter-spacing: 0.04em;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    transition: all 250ms linear;
}

.btnCenter {
    composes: btn;
    margin-left: 0;
    margin-top: 40px;
}

.btn:hover {
    transform: scale(1.05);
    transition: all 250ms linear;
}

.btn:disabled {
    background-color: rgba(252, 132, 45, 0.5);
    cursor: auto;
}

.error {
    margin: 0 0 0 0;
    font-size: 8px;
    color: #ff0000;
}

.modalContainer {
    width: 330px;
    text-align: center;
    padding: 40px 20px;
}

.modalTitle {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
}

.rate {
    font-weight: 700;
    font-size: 22px;
    color: #264061;
    margin-bottom: 32px;
}

.value {
    font-size: 48px;
}

.line {
    width: 280px;
    height: 0;
    /* margin: 0 auto; */
    border-bottom: 1px solid var(--line-color);
}

.text {
    font-weight: 700;
    margin-top: 12px;
    text-align: left;
}

.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 1px solid var(--line-color);
    cursor: pointer;
}

.radio:checked {
    border: 1px solid var(--accent-color);
    background-image: radial-gradient(
        circle at center,
        var(--accent-color) 6px,
        var(--bg-color) 6px
    );
}

.label {
    display: flex;
    align-items: center;
    color: #9b9faa;
    cursor: pointer;
}

.checked {
    composes: label;
    font-weight: 700;
    color: #fc842d;
}

@media screen and (min-width: 1280px) {
    .title {
        width: 600px;
        font-size: 34px;
    }

    .form {
        margin: 60px 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .btn {
        margin-left: 330px;
        margin-top: 60px;
    }

    .input {
        padding: 20px 0;
    }

    .error {
        font-size: 10px;
    }

    .modalTitle {
        font-size: 26px;
        margin-bottom: 20px;
    }
}
