.loginForm {
    margin-top: 8px;
}

.formHeading {
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    text-align: center;
    margin-bottom: 40px;
}

.formLabel {
    position: relative;
}
.formInput {
    border: none;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    color: var(--main-color);
    padding: 20px 0px;
    border-bottom: 1px solid var(--line-color);
    margin: 0 20px;
    width: calc(100% - 40px);
}

.formInput::placeholder {
    color: var(--muted-color);
}

.errorCont {
    position: absolute;
    top: 24px;
    left: 0;
}
.errorText {
    color: var(--error-color);
    font-size: 8px;
}

.social {
    margin-top: 30px;
    text-align: center;
}

.socialTitle {
    composes: formHeading;
}

.googleBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    width: 182px;
    height: 46px;
    font-weight: 700;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.googleBtn:hover,
.googleBtn:focus {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: 2px solid var(--accent-color);
    transition: var(--transition);
}

.icon {
    position: absolute;
    top: 0;
    right: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
        gap: 100px;
    }

    .social {
        margin-top: 60px;
    }

    .socialTitle {
        margin-bottom: 60px;
    }

    .loginForm {
        margin-top: 60px;
        margin-left: 20px;
        width: 240px;
    }
    .formHeading {
        text-align: left;
    }
    .formInput {
        border-bottom: 1px solid #e0e0e0;
        margin: 0px;

        width: 100%;
    }

    .errorText {
        font-size: 10px;
    }
}
