.link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 47px;
    height: 44px;
}

.text {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
}

.subText {
    color: var(--accent-color);
}

@media screen and (min-width: 1280px) {
    .link {
        position: relative;
    }

    .logo {
        width: 71px;
        height: 66px;
    }

    .text {
        position: absolute;
        bottom: 0;
        left: 61px;
    }
}
