.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    padding: 48px 20px;
}

.button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    cursor: pointer;
}

.input {
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid var(--line-color);
}

.name {
    composes: input;
    width: 280px;
}

.gramm {
    composes: input;
    width: 280px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .form {
        flex-direction: row;
        padding: 0;
        margin-bottom: 0px;
    }

    .input {
        padding-bottom: 10px;
    }

    .name {
        composes: input;
        width: 240px;
        margin-right: 48px;
        text-align: left;
    }

    .gramm {
        width: 107px;
        margin-right: 60px;
        margin-bottom: 0;
        text-align: right;
    }

    .button {
        margin-top: 16px;
    }
}
