.container {
    position: relative;
    width: 600px;
}

.list {
    position: absolute;
    left: 0;
    top: -40px;
    max-height: 280px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
    /* border: 1px solid #cacaca; */
    box-shadow: 0 0 3px #aab2c533;
    overflow-y: scroll;
    z-index: 20;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 8px 10px;
    font-size: 12px;
    color: gray;
    cursor: pointer;
}

.item:hover {
    color: #ffffff;
    background-color: #123456;
}

.title {
    width: 300px;
    padding-right: 20px;
}

.thumb {
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    /* .container {
        width: 184px;
    }

    .btn {
        border-radius: 0;
        border-top: 2px solid var(--bg-link-color);
        border-left: none;
        border-color: var(--bg-link-color);
    }

    .list {
        width: 99%;
    } */

    @media screen and (min-width: 1280px) {
        /* .container {
            width: 220px;
        } */
    }
}
