.container {
    padding-left: 100px;
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}

.summary {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 60px;

    color: #9b9faa;
}

.item {
    display: flex;
    justify-content: space-between;
}

.note {
    margin: 0 40px 40px -30px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.link {
    padding: 13px 30px;
    font-weight: 700;
    margin-left: 80px;
    border: none;
    border-radius: 30px;
    background-color: #fc842d;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    color: #ffffff;
    cursor: pointer;

    transition: all 250ms linear;
}

.link:hover {
    transform: scale(1.05);
    background-color: #9b9faa;
    color: #000000;
}
