.container {
    width: 100vw;
    margin-left: calc((280px - 100vw) / 2);
    padding: 40px calc((100vw - 280px) / 2);
    background-color: var(--bg-tertiary-color);
}

.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    color: var(--main-color);
}

.summary {
    width: 270px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;

    color: var(--muted-color);
}

.item {
    display: flex;
    justify-content: space-between;
}

.note {
    margin: 0 40px 40px -30px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}

.link {
    padding: 13px 30px;
    font-weight: 700;
    margin-left: 80px;
    border: none;
    border-radius: 30px;
    border: 3px solid var(--accent-color);
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    color: var(--accent-color);
    cursor: pointer;

    transition: var(--transition);
}

.link:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

@media screen and (min-width: 1280px) {
    .container {
        padding-left: 100px;
    }

    .summary {
        margin-bottom: 60px;
    }
}
