.container {
    position: relative;
    width: 160px;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    pointer-events: none;
}

.datePicker {
    width: 150px;
    font-weight: 700;
    font-size: 18px;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        width: 270px;
    }

    .datePicker {
        font-size: 34px;
        width: 240px;
    }

    .icon {
        top: 10px;
    }
}
