.container {
    position: relative;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* margin-bottom: 15px; */
}

.icon {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.datePicker {
    width: 220px;
    /* margin: 0; */
    /* padding-left: 25px; */
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container {
        /* width: 260px; */
        /* margin-top: 0;
        margin-bottom: 0; */
    }

    .datePicker {
        /* font-weight: 900;
        text-transform: uppercase; */
    }
}

@media screen and (min-width: 1280px) {
    .container {
        /* margin-right: 0px;
        margin-left: 0; */
    }
}
