.button {
    width: 48px;
    height: 48px;
    margin: 60px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    cursor: pointer;
}

.button:hover {
    transform-origin: center center;
    animation: spinner 1.5s linear;
}

.link {
    position: relative;
}

.goBack {
    position: absolute;
    top: -56px;
    stroke: var(--main-color);
    cursor: pointer;
}

@keyframes spinner {
    40% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (min-width: 768px) {
    .button {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        display: flex;
    }

    .side {
        width: 763px;
        flex-shrink: 0;
    }
}
