.button {
    width: 48px;
    height: 48px;
    margin: 60px auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    cursor: pointer;
}

.button:hover {
    transform-origin: center center;
    animation: spinner 1.5s linear;
}

.link {
    position: relative;
}

.goBack {
    position: absolute;
    top: -56px;
    stroke: var(--main-color);
    cursor: pointer;
}

.modal {
    transform: translate(50%, 50%);
    padding: 55px 20px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px var(--muted-color);
}

.thumb {
    display: flex;
}

.reports {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbBtns {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    justify-content: space-around;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dailyRate {
    width: 50px;
    height: 0;
    border: 2px solid #2222ee;
}

.consumed {
    composes: dailyRate;
    border: 2px solid #ff881e;
}

.weight {
    composes: dailyRate;
    border: 2px solid #88ff1e;
}

@keyframes spinner {
    40% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (min-width: 768px) {
    .button {
        display: none;
    }

    .legend {
        flex-direction: row;
        gap: 25px;
        margin-top: 40px;
    }

    .thumbBtns {
        flex-direction: row;
        margin-top: -70px;
    }

    .modal {
        transform: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        display: flex;
    }

    .side {
        width: 763px;
        flex-shrink: 0;
    }
}
