.form {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.input {
    width: 190px;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--line-color);
}

.button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    cursor: pointer;
}

.error {
    position: absolute;
    top: 80px;
    margin: 0 0 0 0;
    font-size: 8px;
    color: var(--error-color);
}

@media screen and (min-width: 480px) {
    .error {
        font-size: 10px;
    }
}
