.modalWrp {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #52555f62;
    transform: translate(-40px, -120px);
}
.LogOutModal__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 194px;
    background-color: #ffffff;
    border: 1px solid #f5f6fb;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(82, 85, 95, 0.4);
    z-index: 50;
}
.LogOutModal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    stroke: #52555f;
    stroke-width: 2px;
    cursor: pointer;
}
.LogOutModal__close:hover {
    stroke: var(--accent-color);
}

.LogOutModal__text {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #52555f;
}
.LogOutModal__btn {
    width: 125px;
    height: 44px;
    color: #52555f;
    border: 2px solid #52555f;
    border-radius: 16px;
    background-color: transparent;
}
.modalBtn {
    /* Геометрия */
    width: 125px;
    height: 44px;
    margin-right: 15px;
    /* Текст */
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* Оформление */
    background-color: var(--bg-modal-two-colour);
    border-radius: 16px;
    box-shadow: 1px 3px 5px rgba(82, 85, 95, 0.15);
    border: none;
    color: var(--text-color-four);
    cursor: pointer;

    transition: transform var(--anim-props), background-color var(--anim-props),
        box-shadow var(--anim-props), color var(--anim-props);
}
.modalBtn:last-child {
    margin-right: 0;
}
.modalBtn:hover,
.modalBtn:focus {
    background-color: var(--accent-color);
    box-shadow: 1px 3px 5px rgba(255, 107, 8, 0.35);
    color: #ffffff;
    transform: scale(1.1);
}
