.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    padding: 20px 20px 16px;
    margin: 0 auto;
}

.line {
    width: 100vw;
    height: 0;
    border: solid 1px var(--line-color);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 20px 32px 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        position: relative;
        max-width: 1280px;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 110px;
        padding: 80px 16px 0px 16px;
        border-bottom: none;
    }

    .line {
        display: none;
    }
}
