.container {
    padding: 20px 30px;
    background-color: transparent;
}

.background {
    margin-top: 80px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
}

.title {
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 15px;
    color: var(--main-color);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 20px 120px;
    }
    .background {
        box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    }
    .title {
        font-size: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        padding: 20px 320px;
    }
    .background {
        padding: 30px 20px;
    }
}
