@import 'modern-normalize/modern-normalize.css';
/* @import url('https://fonts.googleapis.com/css2?family=Veranda:wght@400;500;700;900&display=swap'); */

:root {
    /* --accent-color: #ff751d;
    --avatar-bg-color: #f5f6fa;
    --main-color: #52555f;
    --separate-line-color: #E0E0E0;
    --input-bg-color: #f6f7fb;
    --bg-color: #ffffff;
    --bg-secondary-color: #f2f5fc;
    --bg-link-color: #f5f6fb;
    --text-color-three: #a6abb9;
    --placeholder-color: #c7ccdc;
    --placeholder2-color: #9499a9;
    --active-link-bg-color: #fefefe;
    --inactive-link-bg-color: #fafbfd;

    --box-shadow: 1px 3px 5px #aab2c533;
    --transition: background-color 300ms ease, color 300ms ease; */

    --mobile: 480px;
    --tablet: 768px;
    --desktop: 1280px;
}

body {
    margin: 0;
    font-family: 'Veranda', sans-serif;
    /* font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

p {
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

input:focus {
    outline: none;
}

.container {
    min-height: 100vh;
}

/* .main {
    margin: 0 auto;
    padding: 56px 20px 0;
    width: 100%;
    max-width: var(--mobile);
} */

@media screen and (min-width: 768px) {
    .main {
        max-width: var(--tablet);
        /* padding: 0 32px; */
    }
}

@media screen and (min-width: 1280px) {
    .main {
        max-width: var(--desktop);
        padding: 0 16px;
    }
}
