.container {
    width: 100vw;
    background-color: var(--bg-secondary-color);
}

.userMenuWrapper {
    max-width: 480px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 0;
    margin: 0 auto;
}

.loginName {
    font-weight: 700;
    text-align: right;
    margin-right: 20px;
}

.exitBtn {
    font-weight: 700;

    color: var(--muted-color);
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border-left: 2px solid var(--line-color);
}

.modal {
    transform: translate(50%, 50%);
    padding: 55px 20px 20px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 5px var(--muted-color);
}

.thumb {
    display: flex;
}

@media screen and (min-width: 768px) {
    .container {
        position: absolute;
        width: 200px;
        top: 21px;
        right: calc((100vw - 568px) / 2);
        background-color: transparent;
    }
    .userMenuWrapper {
        max-width: var(--tablet);
    }

    .modal {
        transform: none;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        top: 115px;
        right: calc((100vw - 1248px) / 2);
    }

    .userMenuWrapper {
        max-width: var(--desctop);
    }
}
