.userMenuWrapper {
    display: flex;
    width: 100vw;
    margin-left: calc((320px - 100vw) / 2);
    align-items: center;
    justify-content: flex-end;
    padding: 4px calc((100vw - 320px) / 2);
    background-color: var(--bg-secondary-color);
}

.loginName {
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    text-align: right;
    letter-spacing: 0.04em;
    margin-right: 20px;
}

.exitBtn {
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;

    color: #9b9faa;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border-left: 2px solid var(--line-color);
}
@media screen and (min-width: 768px) {
    .userMenuWrapper {
        background-color: transparent;
    }
}
